.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 235, 215, 0.377);
    
    padding: 20px;
    width: 90%;
    border-radius: 10px;

}

.card {
    background-color: aliceblue;
    padding: 20px;
    margin: auto 10px;
    border-radius: 10px;
    display: grid;
    column-gap: 20px;
    text-align: center;
    grid-template-columns: auto auto;


}

.circle {
    background-color: rgb(22, 170, 22);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.cardicon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    width: 30px;

}

.card h2{
    font-size: 30px;
}

.card p {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;

}

.income {

    color: rgb(22, 170, 22);
}

.expense {
    color: rgb(216, 34, 34);
}

.savings {
    color: rgb(54, 54, 194);
}