select,
input[type=date] {
    padding: 0.8em 0.5em;
    background-color: #332D2D;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
}

option {
    color: white;
    background-color: aliceblue;
}

h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

table,
th,
td {

    border: 2px solid black;
    margin: auto;
    border-collapse: collapse;
    font-size: 1em;
}



.fixedHead {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 400px;
}

.fixedHead thead th {
    position: sticky;
    top: 0px;
    background-color: antiquewhite;
}

th {
    text-align: center;
    padding: 5px 10px;

}

td {
    padding: 5px 10px;
}

.tableIcon {
    width: 25px;
    cursor: pointer;
    margin: auto 5px;
    padding: 2px;
}

.tableIcon:hover {
    background: linear-gradient(90deg, #e3efff, rgb(250, 218, 218));
    border-radius: 10px;


}

@media only screen and (max-width: 1000px){
    select, input{
        width: 20%;
    }
}